
.App {
  text-align: center;
  display: block;
  width: 400px;
  margin: 0 auto;
}

.key {
  display: inline-block;
  width: 20%;
  background-color: grey;
  color: black;
  margin: 5%;
  height: 5vh;
  line-height: 5vh;
}

.key_cancel{
  display: block;
  width: 20%;
  height: 40px;
  background-color: red;
  color: black;
  margin: 5px;
}

.enter{
  display: block;
  width: 20%;
  height: 40px;
  background-color: red;
  color: black;
  margin: 5px;
}



.close{
  display: block;
  width: 20%;
  height: 40px;
  background-color: red;
  color: black;
  margin: 5px;
}